<form (ngSubmit)="signUp()" [formGroup]="signUpForm">
  <mat-input-container>
    <input matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="email.touched && email.hasError('required')">
      Email address krävs.
    </mat-error>
    <mat-error *ngIf="email.touched && !email.hasError('required') && email.hasError('pattern')">
      Felaktig email address.
    </mat-error>
  </mat-input-container>
  <mat-input-container>
    <input matInput placeholder="Lösenord" type="password" formControlName="password" required>
    <mat-error *ngIf="password.touched && password.hasError('required')">
      Lösenord krävs.
    </mat-error>
    <mat-error *ngIf="password.touched && !password.hasError('required') && password.hasError('minlength')">
      Lösenordet måste bestå av minst {{password.errors.minlength.requiredLength}} bokstäver.
    </mat-error>
  </mat-input-container>
  <mat-input-container>
    <input matInput placeholder="Upprepa Lösenord" type="password" formControlName="repeat" required>
    <mat-error *ngIf="repeat.touched && repeat.hasError('required')">
      Upprepning av lösenord krävs.
    </mat-error>
    <mat-hint style="color:red;" *ngIf="repeat.touched && signUpForm.errors && signUpForm.errors.passwordsDoNotMatch">
      Lösenorden skiljer sig.
    </mat-hint>
  </mat-input-container>
  <!--Submit-->
  <button
    mat-raised-button
    color="primary"
    id="email"
    class="login-button"
    [disabled]="signUpForm.invalid"
  >Skapa Konto</button>
</form>
