
mat-sidenav > button{
  color: #444444!important;
}

.sidenav-button {
  width: 100%;
  display:block;
  text-align: left;
}

mat-toolbar-row {
  height: 60px;
}

mat-sidenav-container {
  top: 60px!important;
}

mat-sidenav>button {
  font-size: 18px;
  color: #333;
  padding: 10px 50px 10px 10px;
  border-bottom: solid 1px gray;
  border-radius: 0%;
  width: 100%;
  display:block;
  text-align: left;
}

.sidenav-icon {
  margin: 0 15px;
}
