
.example-icon{
  cursor: pointer;
}
mat-sidenav-container{
  height: 90vh;
}
.mat-button{
  width: 100%;
  text-align: left;
  font-size: x-large;
}
mat-sidenav{
  width: 60vw;
}
@media only screen and (min-width: 376px) {
  #sidenav-menu-icon {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .navbar-menu-tab {
    display: none;
  }
}
