<!-- Navbar -->
<mat-toolbar #toolbar color="primary">
  <mat-toolbar-row>

    <!--Logo-->
    <button mat-button style="font-size: 25px;" routerLink="/">
        <span style="vertical-align:middle;">
          <mat-icon>developer_mode</mat-icon>
        </span>
      Progge AB
    </button>

    <!--Larger screen - Left-->
    <div fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="heroes">
        Heroes
      </button>
      <button mat-button routerLink="upload-heroes">
        Upload Heroes
      </button>
      <button mat-button routerLink="about-us">
        About Us
      </button>
    </div>

    <!--Fill remaining space-->
    <span class="fill-remaining-space"></span>

    <!--Larger screen - Right-->
    <div fxShow="false" fxShow.gt-sm>
      <button
        mat-button
        *ngIf="!(userService.isLoggedIn)"
        routerLink="sign-in">
        Sign In
      </button>
      <button
        mat-button
        *ngIf="(userService.isLoggedIn)"
        routerLink="profile">
        Profile
      </button>
      <button
        mat-button
        *ngIf="(userService.isLoggedIn)"
        (click)="userService.logout()">
        Sign Out
      </button>
    </div>

    <!--Smaller screen-->
    <div fxHide="false" fxHide.gt-sm>
      <button mat-icon-button >
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fullscreen>

  <!--Sidenav Content-->
  <mat-sidenav #sidenav [mode]="'over'">
    <button mat-button routerLink="">
      <mat-icon class="sidenav-icon">home</mat-icon>
      Home
    </button>
    <button mat-button routerLink="heroes">
      <mat-icon class="sidenav-icon">group</mat-icon>
      Heroes
    </button>
    <button mat-button routerLink="upload-heroes">
      <mat-icon class="sidenav-icon">file_upload</mat-icon>
      Upload Heroes
    </button>
    <button mat-button routerLink="about-us">
      <mat-icon class="sidenav-icon">info</mat-icon>
      About Us
    </button>
    <button
      mat-button
      *ngIf="!(userService.isLoggedIn)"
      routerLink="sign-in">
      <mat-icon svgIcon="sign-in" class="sidenav-icon"></mat-icon>
      Sign In
    </button>
    <button
      mat-button
      *ngIf="(userService.isLoggedIn)"
      routerLink="profile">
      <mat-icon class="sidenav-icon">person</mat-icon>
      Profile
    </button>
    <button
      mat-button
      *ngIf="(userService.isLoggedIn)"
      (click)="userService.logout()">
      <mat-icon svgIcon="sign-out" class="sidenav-icon"></mat-icon>
      Sign Out
    </button>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Page Content -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>

