<div id="upload-div">
  <mat-card>
    <button mat-raised-button color="accent" onclick="document.getElementById('image').click()">
      Select Files
      <input id="image" type="file" multiple style="display:none;" accept="image/*" (change)="selectFiles($event)">
    </button>
    <button mat-raised-button color="primary" [disabled]="resizeInProgress" (click)="upload()">Upload</button>
    <mat-slide-toggle (change)="onEnableResizeToggle($event)">Enable resize</mat-slide-toggle>
    <div *ngIf="!resizeInProgress">
    <div  *ngFor="let progress of progresses" style="margin-top: 10px;">
      <span>{{progress.name}}</span>
      <mat-progress-bar
        color="primary"
        style="width:100%; margin-top: 5px;"
        [value]="progress.percentage">
      </mat-progress-bar>
    </div>
    </div>
    <app-spinner *ngIf="resizeInProgress" style="margin: 0 auto"></app-spinner>
  </mat-card>
</div>
