<mat-card>
  <mat-card-content>
    <h2>Heroes Form</h2>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" >
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="model.name" name="name" required #name="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input class="remove-spinner" matInput placeholder="Age" type="number">
      </mat-form-field>
      <app-maps-address></app-maps-address>
      <div fxLayout fxLayoutWrap="wrap">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        <div>
          <img *ngIf="data.image" [src]="data.image" style="width:300px;height:300px;object-fit: cover">
        </div>
      </div>
      <button mat-button color="primary" type="submit" [disabled]="!heroForm.valid">Submit</button>
      <button mat-raised-button fileDrop type="button"
              [ngClass]="{'lower-opacity': fileIsOver}"
              [options]="options"
              (fileOver)="fileOver($event)"
              (onFileDrop)="onFileDrop($event)"
              onclick="document.getElementById('image').click()"
      >
        <input id="image" type="file" multiple style="display:none;" accept="image/*" (change)="selectFiles($event)">
        Drop file here
      </button>

    </form>
  </mat-card-content>
</mat-card>

