<mat-card>
  <mat-card-content>
    <h2>Heroes Form</h2>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" >
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="model.name" name="name" required #name="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input name="age" [(ngModel)]="model.age" class="remove-spinner" matInput placeholder="Age" type="number">
      </mat-form-field>
      <h4>Speed: {{model.speed}}</h4>
      <mat-slider matInput name="speed" [max]="10" min="0" [(ngModel)]="model.speed" [thumbLabel]="true"></mat-slider>
      <mat-form-field>
        <mat-select name="strength" [(ngModel)]="model.strength" placeholder="Strength">
          <mat-option *ngFor="let option of exampleOptions" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-maps-address name="formattedAddress" [(ngModel)]="model.formattedAddress"></app-maps-address>
      <h4>Address: {{model.formattedAddress}}</h4>
      <div fxLayout fxLayoutWrap="wrap">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        <div>
          <img *ngIf="data.image" [src]="data.image" style="width:300px;height:300px;object-fit: cover">
        </div>
      </div>
      <button mat-raised-button fileDrop type="button"
              [ngClass]="{'lower-opacity': fileIsOver}"
              [options]="fileDropOptions"
              (fileOver)="fileOver($event)"
              (onFileDrop)="onFileDrop($event)"
              onclick="document.getElementById('image').click()"
      >
        <input id="image" type="file" multiple style="display:none;" accept="image/*" (change)="selectFiles($event)">
        Click or Drop file here
      </button>
      <button mat-button color="primary" type="submit" [disabled]="!heroForm.valid">Submit</button>
    </form>
  </mat-card-content>
</mat-card>

