<mat-card class="hero-card">
  <mat-card-header>
    <img *ngIf="author;else heroProfileImage" mat-card-avatar src="{{ author.photoURL }}">
    <ng-template #heroProfileImage>
      <img mat-card-avatar src="{{ hero.image }}">
    </ng-template>
    <mat-card-title (click)="goToHero(hero.id)">{{hero.name}}</mat-card-title>
    <mat-card-subtitle>{{hero.slogan}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="div-square">
      <img mat-card-image src="{{ hero.image }}" (click)="goToHero(hero.id)">
    </div>
  </mat-card-content>
  <mat-card-actions style="display:flex;">
    <button mat-button><mat-icon style="color:red;">favorite</mat-icon> LIKE</button>
    <span class="fill-remaining-space"></span>
    <button  *ngIf="canEdit" mat-icon-button>
      <mat-icon (click)="onEditClick()">edit</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-button><mat-icon>share</mat-icon> SHARE</button>
  </mat-card-actions>
</mat-card>
