<mat-card class="card-margin">
  <mat-card-header>
    <img mat-card-avatar src="{{ hero.image }}">
    <mat-card-title (click)="goToHero(hero.id)">{{hero.name}}</mat-card-title>
    <mat-card-subtitle>Superhero</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ hero.image }}" (click)="goToHero(hero.id)">
  <mat-card-actions style="display:flex;">
    <button mat-button><mat-icon style="color:red;">favorite</mat-icon> LIKE</button>
    <span class="fill-remaining-space"></span>
    <button mat-button><mat-icon>share</mat-icon> SHARE</button>
  </mat-card-actions>
</mat-card>
