<mat-card class="card-margin">
  <mat-card-header>
    <img mat-card-avatar src="{{ hero.image }}">
    <mat-card-title>{{hero.name}}</mat-card-title>
    <mat-card-subtitle>Superhero</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ hero.image }}">
  <mat-card-content>
    <p>Age: {{ hero.age }}</p>
    <p>Strength: {{ hero.strength }}</p>
    <p>Speed: {{ hero.speed }}</p>
  </mat-card-content>
  <mat-card-actions style="display:flex;">
    <button mat-button><mat-icon style="color:red;">favorite</mat-icon> LIKE</button>
    <span class="fill-remaining-space"></span>
    <button mat-button><mat-icon>share</mat-icon> SHARE</button>
  </mat-card-actions>
</mat-card>
