<form (ngSubmit)="onSubmit()">
  <mat-input-container>
    <input matInput placeholder="Email" [(ngModel)]="email" name="email">
  </mat-input-container>
  <mat-input-container>
    <input matInput placeholder="Lösenord" type="password" [(ngModel)]="password" name="password">
  </mat-input-container>
  <mat-input-container>
    <input matInput placeholder="Upprepa Lösenord" type="password" [(ngModel)]="repeat" name="repeat">
  </mat-input-container>
  <div class="login-button-div">
    <button mat-raised-button color="primary" id="email" class="login-button"> Logga in med Email</button>
  </div>
</form>
