<div id="login-div">
  <mat-card>
    <mat-tab-group [(selectedIndex)]="selectedTab">
      <mat-tab label="Logga In" class="tab">
        <app-facebook></app-facebook>
        <br>
        <app-google></app-google>
        <div class="divider">
          <hr class="left"/><b style="color:#888888">ELLER</b><hr class="right" />
        </div>
        <app-email></app-email>
      </mat-tab>
      <mat-tab label="Skapa Konto" class="tab">
        <app-signup (signUpSuccess)="swapTab($event)"></app-signup>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
